/* menu format */
#sidebar
{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #eb6963; /* Light red */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-bottom: 30vh; /* Padding based on screen height */
    transition: 0.5s; /* 0.5 second transition effect for menu */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* menu button */
#menu_btn
{
    position: absolute;
    top: 0;
}

/* menu text */
.menu_text
{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* menu links */
.menu_link
{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 10px 0;
}

/* background title */
.background_pg_title
{
    padding-top: 5vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

#menu_btn span
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background: white;
}

#main
{
    transition: 0.5s; /* to match the menu transition */
}

/* Map positioning and sizing */
/* Relative position used so the website is more functional when screen width/height changes */
.map_container
{
    position: relative;
    margin: auto;
    top: 20px;
    bottom: 0;
    width: 80%;
    height: 500px;
}

#layer_toggle
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: mintcream;
    z-index: 10;
    opacity: 0.8;
}